
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">


  <nav class="bg-slate-500 border-b border-gray-300">
    <div class="flex justify-between items-center px-9">
      <!-- Ícono de Menú -->
      <button id="menu-button" class="lg:hidden">
        <i class="fas fa-bars text-cyan-500 text-lg"></i>
      </button>
      <!-- Logo -->
      <!-- <div class="ml-1">
        <img src="https://www.emprenderconactitud.com/img/POC%20WCS%20(1).png" alt="logo" class="h-20 w-28">
      </div> -->

      <!-- Ícono de Notificación y Perfil -->
      <div class="space-x-4">
        <button>
          <i class="fas fa-bell text-cyan-500 text-lg"></i>
        </button>

        <!-- Botón de Perfil -->
        <button>
          <i class="fas fa-user text-cyan-500 text-lg"></i>
        </button>
      </div>
    </div>
  </nav>

  <!-- Barra lateral -->
  <div id="sidebar" class="lg:block hidden bg-slate-500 w-64 h-screen fixed rounded-none border-none">
    <!-- Items -->
    <div class="p-4 space-y-4">
      @for (item of menuItems; track $index) {
      <a [routerLink]="item.path" aria-label="dashboard"
        class="relative px-4 py-3 flex items-center space-x-4 rounded-lg text-white bg-gradient-to-r from-sky-600 to-cyan-400">
        <i class="fas text-white" [ngClass]="icons[$index % icons.length]" ></i>
        <span class="-mr-1 font-medium">{{item.title}}</span>
      </a>
    }
    </div>
  </div>




<script>
  document.addEventListener('DOMContentLoaded', function () {
    var menuButton = document.getElementById('menu-button');
    var sidebar = document.getElementById('sidebar');

    menuButton.addEventListener('click', function () {
      sidebar.classList.toggle('hidden');
      sidebar.classList.toggle('lg:block');
    });
  });
</script>


